run = "bun run server.js"
hidden = [".config", "bun.lockb"]
language = "nodejs"

[nix]
channel = "stable-23_11"

[deployment]
run = ["bun", "run", "server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[env]
PORT = "3000"
NODE_ENV = "production"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true

[languages.javascript]
pattern = "**/*.{js,jsx,ts,tsx,mjs,cjs}"
  [languages.javascript.languageServer]
  start = ["typescript-language-server", "--stdio"] 